.modal-form__item {
  width: 100%;
  padding: 0 0 12px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(0 0 0 / 20%);
  border-left: none;
  margin: 30px 0 0;
  font-size: 14px;
  line-height: calc(1 / 14 * 17);
  outline-offset: 8px;
  transition: 1s;
}

.modal-form__item:focus {
  border-bottom: 1px solid rgba(0 0 0 / 100%);
}
