.modal__close {
  position: absolute;
  top: -40px;
  right: -24px;
  width: 32px;
  height: 32px;
  background-image: url('../../../images/buttons/close.svg');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: .3s;
}

.modal__close:focus {
  outline-offset: 4px;
}

.modal__close:hover {
  opacity: .6;
}

@media screen and (max-width: 611px) {
  .modal__close {
    top: -36px;
    right: 16px;
    width: 20px;
    height: 20px;
  }
}
