.personal__place-add {
  width: 150px;
  height: 50px;
  background-image: url('../../../images/buttons/add.svg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: invert(1);
  justify-self: center;
  transition: .3s;
}

.personal__place-add:hover {
  opacity: .6;
}
