.profile__title-text {
  display: block;
  overflow: hidden;
  max-width: 350px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 911px) {
  .profile__title-text {
    max-width: 230px;
  }
}
